@import "../../variables";

.topbar {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px;
  border-bottom: 1px solid $black_10;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      .brand {
        cursor: pointer;
      }

      .sp1 {
        color: $primary;
        font-size: 21px;
        display: inline-block;
      }

      .sp2 {
        color: $secondary;
        font-size: 21px;
        display: inline-block;
      }
    }

    .center {
      .menu ul {
        display: flex;
        list-style-type: none;
        gap: 32px;
        text-transform: uppercase;

        li a {
          font-family: $cursive;
          letter-spacing: 3%;
          color: $black;
          cursor: pointer;
          text-align: center;

          &:hover {
            color: $secondary;
          }
        }
      }
    }

    .right {
      ul {
        display: flex;
        list-style-type: none;
        gap: 32px;

        li a {
          color: $black;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}
