@import "../../variables.scss";

.portfolio {
  border-bottom: 1px solid $black_10;

  .container {
    padding-top: 160px;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      margin-bottom: 120px;

      h2 {
        text-transform: uppercase;
      }
    }

    .browser-card-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 120px;
    }
  }
}
