@import "../../variables.scss";

.usedToDo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);

  h2 {
    color: $white;
  }

  h3 {
    color: $white;
  }

  p {
    color: $white;
  }

  .video1-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }
}
