@import "../../variables.scss";

.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 72px;

  header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 720px;
    align-self: center;
    text-align: center;
  }

  .img-g-container {
    position: relative;
    height: 900px;
    display: flex;
    margin-bottom: 148px;

    &.bg-black {
      background: $black;
    }

    &.bg-flesh {
      background: #e6cfad;
    }

    .swiper {
      width: 1440px;
      height: 900px;
      position: absolute;
      left: 50%;
      top: 128px;
      transform: translateX(-50%);
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  p.text-center {
    width: 640px;
    align-self: center;
    margin-bottom: 32px;
  }

  .btn {
    align-self: center;
  }
}
