@import "../../../variables.scss";

.chevron-container {
  cursor: pointer;
}

.chevron-container.blinking {
  animation: arrowBlink 2s infinite;
}

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}
