@import "../../variables";

.intro {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../public/assets/intro-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .left {
    height: calc(100vh - 70px);
    flex: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .intro-text {
      display: flex;
      flex-direction: column;
      width: 700px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 200px;

      h1 {
        font-size: 100px;
        font-family: $font-family-cursive;
        font-weight: 800;
        color: $white;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
          0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
          0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
          0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);

        .myName {
          display: inline-block;
          margin-left: 20px;
          font-size: 100px;
          font-family: $font-family-cursive;
          font-weight: 800;
          color: $white;
          text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
            0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
            0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
            0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
        }
      }

      h2 {
        font-size: 60px;
        font-family: $font-family-cursive;
        font-weight: 800;
        color: $white;
        // text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      }

      h3 {
        font-size: 30px;
        font-family: $font-family-sans-serif;
        font-weight: 800;
        letter-spacing: 5px;
        color: $white;
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);

        .typed-elem {
          font-family: $font-family-cursive;
          color: $yellow;
          font-size: 50px;
          font-weight: 800;
          letter-spacing: 2px;
          text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
            0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
            0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
            0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
        }
      }
    }

    .social-container {
      width: 500px;
      margin: 20px 0;
      ul {
        list-style: none;
        display: flex;

        gap: 25px;

        li {
          a {
            color: $yellow;

            &:hover {
              color: $black !important;
              transform: scale(1.2);
            }
          }
        }
      }
    }

    .button-container {
      display: flex;
      margin: 20px 0;
      width: 500px;
    }
  }

  .right {
    flex: 0.5;
    display: flex;

    .img-container {
      width: 500px;
      height: 500px;
      border-radius: 50%;
      border: 1px solid $white;
      background: $white;
      opacity: 0.5;
      display: flex;
      align-items: center;
      transition: 0.5s;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      img {
        width: 100%;
        transition: 0.5s;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .intro {
    .left {
      flex: 1;
      .intro-text,
      .social-container,
      .button-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .intro-text {
        margin: initial;
        justify-content: center;

        h1 {
          font-size: 60px;
          .myName {
            font-size: 60px;
          }
        }

        h2 {
          font-size: 40px;
        }

        h3 {
          font-size: 20px;
        }
      }
    }

    .right {
      display: none;
    }
  }
}
