@import "../../variables.scss";

.experience {
  background: lighten($yellow, 6.5%);
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  flex-direction: column;
  padding: 100px 0;

  .wrapper {
    .vertical-timeline {
      margin-bottom: 60px;
    }

    .link-container {
      padding: 30px 0;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
