@import "./variables.scss";

* {
  font-family: $font-family-sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
}

.h-100 {
  min-height: 100vh;
}
.container {
  padding-left: 60px;
  padding-right: 60px;
}

.btn {
  padding: 20px 25px;
  border: 1px solid transparent;
  border-radius: 7px;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  background: $black;
  color: $white;

  &:hover {
    background: $yellow;
    color: lighten($black, 6.5%);
  }
}

/*
  320px — 480px: Mobile devices.
  481px — 768px: iPads, Tablets.
  769px — 1024px: Small screens, laptops.
  1025px — 1200px: Desktops, large screens.
  1201px and more — Extra large screens, TV.
*/
