// $black: #1b262c;
$black: #444;
$white: #e6e6e6;
$dark-blue: #0f4c75;
$blue: #3282b8;
$light-blue: #bbe1fa;
$red: #c84b31;
$beige: #ecdbba;
$yellow: #ffd717;

$font-family-sans-serif: "Poppins";
$font-family-cursive: "Macondo";
