// Colors
$primary: #0d3562;
$secondary: #096d6e;
$gradient: linear-gradient(to right, #096d6e, #0d3562);
$danger: #c33a04;
$white: #fff;

$black: #33383f;
$black_75: rgba(51, 56, 63, 0.75);
$black_50: rgba(51, 56, 63, 0.5);
$black_25: rgba(51, 56, 63, 0.25);
$black_10: rgba(51, 56, 63, 0.1);
$black_5: rgba(51, 56, 63, 0.05);

//  Font Family
$sans-serif: "Poppins", sans-serif;
$cursive: "Nova Round", cursive;

// Headings
$h1: 119px;
$h2: 84px;
$h3: 59px;
$h4: 42px;
$h5: 30px;
$h6: 21px;
