@import "../../variables.scss";

.whoami {
  background: $black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;

  .wrapper {
    display: flex;
    width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
    // box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
    //   rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
    //   rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    box-shadow: rgba(255, 215, 23, 0.4) 5px 5px,
      rgba(255, 215, 170, 0.3) 10px 10px, rgba(255, 215, 170, 0.2) 15px 15px,
      rgba(255, 215, 170, 0.1) 20px 20px, rgba(255, 215, 170, 0.05) 25px 25px;

    .left {
      flex: 0.5;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .right {
      flex: 0.5;
      background: lighten($black, 6.5%);
      color: darken($white, 6.5%);
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h2 {
        font-size: 50px;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        text-align: left;
      }

      .highlight {
        h4 {
          font-size: 30px;
          font-family: $font-family-cursive;
          letter-spacing: 3px;
          margin-bottom: 15px;
        }

        ul {
          list-style-image: url(../../../public/assets/chevron-right.png);

          li {
            padding: 10px;
          }
        }
      }

      .chevron-container {
        position: absolute;
        bottom: 20px;
        left: 70%;
      }
    }
  }
}
